body{
    background-image: url(pixi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


form {
    color:white;
    font-size: 20px;
    text-align: center;
}
nav {
    color: whitesmoke;
    width: 80%;
    text-align: center;
    margin-left: 7rem;
}

